@if (User.IsInRole("USER"))
{
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="input-container">
                        <input type="text" name="text" class="input js_search" placeholder="search...">
                        <span class="icon">
                            <svg width="19px" height="19px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path opacity="1" d="M14 5H20" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="1" d="M14 8H17" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M21 11.5C21 16.75 16.75 21 11.5 21C6.25 21 2 16.75 2 11.5C2 6.25 6.25 2 11.5 2" stroke="#000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path> <path opacity="1" d="M22 22L20 20" stroke="#000" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row js_no_photo d-none">
            <div class="col">
                <h3>Non hai inserito alcuna foto</h3>
            </div>
        </div>
        <div class="row js_photo_table d-none d-flex justify-content-center align-items-center">
        </div>
        <div class="my-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Messaggio</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal" value="INVIA">
        </div>

    </div>
}﻿


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    function loadList(nameFilter) {
        axios.get('api/PhotoWeb/GetAllPhotos',
            {
                params:
                {
                    name: nameFilter
                }
            }).then((res) => {
                if (res.data.length == 0) {
                    document.querySelector('.js_no_photo').classList.remove('d-none');
                    document.querySelector('.js_photo_table').classList.add('d-none');
                }
                else {
                    document.querySelector('.js_no_photo').classList.add('d-none');
                    var photoTable = document.querySelector('.js_photo_table');
                    photoTable.classList.remove('d-none');

                    photoTable.innerHTML = '';
                    res.data.forEach((photo) => {
                        console.log(photo);
                        photoTable.innerHTML += `
                                        <div class="card">
                                                    <div class="card-image rounded"><img src="${photo.image}" alt="${photo.title}" class="rounded" style="object-fit: cover; width: 100%; height: 100%"></div>
                                            <div class="category">${photo.title}</div>
                                            <div class="heading">${photo.description}
                                            </div>
                                        </div>`;
                    });
                }
            });
    }

    loadList('');

    function search() {

        console.log(this.value);
        loadList(this.value);
    }

    document.querySelector('.js_search').addEventListener('keyup', search)

</script>

<style>
    .input-container {
        width: 220px;
        position: relative;
        margin-bottom: 15px;
    }

    .icon {
        position: absolute;
        right: 10px;
        top: calc(50% + 5px);
        transform: translateY(calc(-50% - 5px));
    }

    .input {
        width: 100%;
        height: 40px;
        padding: 10px;
        transition: .2s linear;
        border: 2.5px solid black;
        font-size: 14px;
        letter-spacing: 2px;
    }

        .input:focus {
            outline: none;
            border: 0.5px solid black;
            box-shadow: -5px -5px 0px black;
        }

    .input-container:hover > .icon {
        animation: anim 1s linear infinite;
    }

    .card {
        width: 300px;
        height: 350px;
        background: white;
        padding: .4em;
        border-radius: 6px;
    }

    .card-image {
        background-color: rgb(236, 236, 236);
        width: 100%;
        height: 200px;
        border-radius: 6px 6px 0 0;
    }

        .card-image:hover {
            cursor: pointer;
            transform: scale(0.98);
        }

    .category {
        font-size: 1.2em;
        font-weight: 600;
        color: rgb(63, 121, 230);
        padding: 10px 7px 0;
    }

        .category:hover {
            cursor: pointer;
        }

    .heading {
        font-weight: 600;
        color: rgb(88, 87, 87);
        padding: 7px;
    }

        .heading:hover {
            cursor: pointer;
        }

    .name:hover {
        cursor: pointer;
    }

    @@keyframes anim {
        0%,
        100% {
            transform: translateY(calc(-50% - 5px)) scale(1);
        }

        50% {
            transform: translateY(calc(-50% - 5px)) scale(1.1);
        }
    }
</style>
